<aside>
  <% if current_page.url != '/' %>
    <a class="homelink" href="<%= url_for('/') %>">
      <h2>Mera Falácia</h2>
      <p>Um blog de Capi Etheriel</p>
    </a>
  <% end %>

  <%= yield_content :sidebar %>
</aside>
