@import "compass";
@import "compass/layout/sticky-footer";
@import "susy";
@import "gistio";

$total-columns: 4;

@include sticky-footer(4em, '.page', '.pseudo-footer', 'footer');

.page, footer {
  @include container;
}

footer > p {
  @include span-columns(4);
}

#main, aside {
  @include span-columns(4);
}

@include at-breakpoint(24em 9) {
  .page, footer {
    @include container;
  }
  #main {
    @include span-columns(6);
  }
  aside {
    @include span-columns(3 omega);
    margin-top: 2em;
  }
  footer > p {
    @include span-columns(9);
  }
}

@include at-breakpoint(32em 12) {
  .page, footer {
    @include container;
  }
  #main {
    @include span-columns(6);
  }
  aside {
    @include span-columns(4 omega);
  }
  footer > p {
    @include span-columns(12);
  }
}

.page .sub{
  display: block;
  text-transform: none;
  font-size: 0.33em;
  margin-top: -1em;
}
